In [32]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math

%matplotlib inline

In [33]:
data = pd.read_csv("../data/iris_data.csv", header=None)

In [34]:
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

Splitting the dataset into X and Y variables

In [35]:
X_train, y_train = data[[0, 1, 2, 3]], data[4]

In [41]:
y_train = y_train.replace({
  "Iris-setosa": 0,
  "Iris-versicolor": 1,
  "Iris-virginica": 2
})

One-hot encoding the Y labels

In [46]:
Y_onehot = pd.get_dummies(y_train)

In [51]:
def sigmoid(z):
  g = 1 / (1 + math.e ** -z)
  return g

In [52]:
def softmax(z):
  s = z.sum()
  return [i/s for i in z]